<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<body>
	<div th:fragment="menu">
		<form th:action="@{/logout}" method="post" th:hidden="true"
			name="logoutForm">
			<input type="submit" />
		</form>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<a class="navbar-brand m-2" th:href="@{/}"> <img
				alt="logo Primus Neon"
				th:src="@{/images/Logo Admin Primus Neon.png}"> <img
				alt="label Primus Neon"
				th:src="@{/images/Label Admin Primus Neon.png}">
			</a>
			<button class="navbar-toggler m-3" type="button"
				data-bs-toggle="collapse" data-bs-target="#topNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="topNavbar">
				<ul class="navbar-nav">
					<th:block sec:authorize="hasAuthority('Admin')">
						<li class="nav-item m-2 dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							th:href="@{/users}">Utilisateurs</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/users/new}">Créer</a> 
								<a class="dropdown-item" th:href="@{/users}">Afficher</a>
							</div>
						</li>
					</th:block>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editeur')">
						<li class="nav-item m-2 dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							th:href="@{/categories}">Catégories</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/categories/new}">Créer</a> 
								<a class="dropdown-item" th:href="@{/categories}">Afficher</a>
							</div>
						</li>
						<li class="nav-item m-2 dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							th:href="@{/brands}">Marques</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/brands/new}">Créer</a> 
								<a class="dropdown-item" th:href="@{/brands}">Afficher</a>
							</div>
						</li>
					</th:block>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Commercial', 'Editeur', 'Expéditeur')">
						<li class="nav-item m-2 dropdown"><a
							class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
							th:href="@{/products}">Produits</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/products/new}"
									sec:authorize="hasAnyAuthority('Admin', 'Editeur')">Créer</a> 
								<a class="dropdown-item" th:href="@{/products}">Afficher</a>
							</div>
						</li>
					</th:block>


					<th:block sec:authorize="hasAnyAuthority('Admin', 'Commercial')">"
					<li class="nav-item m-2"><a class="nav-link"
							th:href="@{/customers}">Clients</a></li>
					</th:block>

					<th:block
						sec:authorize="hasAnyAuthority('Admin', 'Commercial', 'Expéditeur')">
						<li class="nav-item m-2"><a class="nav-link"
							th:href="@{/orders}">Commandes</a></li>
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Commercial')">"
					<li class="nav-item m-2"><a class="nav-link"
							th:href="@{/report}">Rapport de ventes</a></li>
					</th:block>

					<li class="nav-item m-2"><a class="nav-link"
						th:href="@{/shipping}">Expéditions</a></li>

					<li class="nav-item m-2"><a class="nav-link"
						th:href="@{/menus}">Menus</a></li>

					<li class="nav-item m-2"><a class="nav-link"
						th:href="@{/settings}">Paramètres</a></li>

				</ul>
				<ul class="navbar-nav ms-auto mt-4 me-3">
					<li><span class="fas fa-user fa-2x icon-silver"></span></li>
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
						th:href="@{/account}" sec:authentication="principal.fullName"></a><span
						sec:authentication="principal.authorities"></span>
						<div class="dropdown-menu">
							<a class="dropdown-item" id="logoutLink" href="">Déconnexion</a>
						</div></li>

				</ul>
			</div>
		</nav>
	</div>
</body>
</html>